/* || RESET */
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* || GENERAL */
body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    height: 100%;
    
    /* Background not yet coded*/
    background-image: url('images/bg-pattern-top-mobile.svg'), url('images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
}

/* || VARIABLE */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0,0%,100%);
}

/* || LAYOUTING*/
.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 85vw;
    margin: 7.5vw;
    
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: var(--very-dark-magenta);
    padding-bottom: 1rem;
}

.subtitle {
    text-align: center;
    color: var(--dark-grayish-magenta);
    line-height: 1.3rem;
}

/* Rating */
.rating-cards-wrapper {
    /* width: inherit; */
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%
    /*--Development only */
    /* border: solid green 4px; */
}

.rating-card {
    /* border: solid red 4px; */
    color: var(--very-dark-magenta);
    background-color: var(--light-grayish-magenta);
    
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
    
    text-align: center;
    border-radius: 0.5rem;
    
    margin-bottom: 1rem;
}

.star-rating-wrapper {
    display: inline;
    /* width: 80px; */
}

.star-rating {
    display: inline;
    background-repeat: repeat-x;
    color: var(--very-dark-magenta);
}

/* Review Card */

.review-card {
    color: var(--white);
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
}

.reviewer-identity {
    margin-bottom: 1.75rem;
    display: flex;
    flex: wrap;
}

.reviewer-photo {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right: 1rem;
}


.reviewer-title {
    color: var(--soft-pink);
}

.testimony {
    font-size: 0.75rem;
    line-height: 1.3rem;
}

/* ATTRIBUTION */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* RESPONSIVE DESIGN FOR IPAD AND DESKTOP*/
@media only screen and (min-width: 1000px) {
    body {
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
    }
    
    .container {
        flex-flow: row;
        width: 80vw;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 12.5vh;
        margin-top: 16vh;
        margin-bottom: 0;
        height: 84vh;
    }

    /* Title desktop design */
    .title-wrapper {
        width: 50%;
        align-self: flex-start;
        padding-right: 7.5%;
    }

    .title, .subtitle {
        text-align: start;
    }

    .title {
        font-size: 2.75rem
    }

    /* Rating card desktop design */
    .rating-cards-wrapper {
        display: flex;
        flex-direction: column;
        width: 37.5vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .rating-card {
        width: 82.25%;
        text-align: start;
    }

    .rating-card p {
        margin-left: 2rem;
    }
    
    /* Review Card desktop design */
    .review-cards-wrapper {
        display: flex;
        justify-content: space-between;
        height: 46.5%;
    }
    .review-card {
        width: 31%;
        margin-bottom: 0;
        height: 90%
    }
    
    /* Card Alignment */
    .card-1 {
        align-self: flex-start;
    }

    .card-2 {
        align-self: center;
    }

    .card-3 {
        align-self: flex-end;
    }
    
    .rating-card > * {
        display: inline;
    }

    .attribution {
        margin-top: -1rem;
    }
}